<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo_carrito.css">
    <title>Carrito</title>
</head>
<body>
    <div class="container">
        <div class="left-column">
            <h1>Carrito de <span th:text="${carrito.usuarioNombre}"></span></h1>
            <h2>Id: <span th:text="${carrito.id}"></span></h2>
            <h2>Destinos:</h2>
            <table class="tabla-destinos">
                <caption>Lista de Destinos</caption>
                <thead>
                    <tr>
                        <th>Nombre del Destino</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="destino : ${carrito.listaDestinos}">
                        <tr>
                            <td th:text="${destino.nombre}">Nombre del Destino</td>
                            <td th:text="${destino.precio}">Precio</td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <div class="buttons">
                <button class="continue">
                    <a href="/principalcliente" style="text-decoration: none; color: inherit;">Seguir Comprando</a>
                </button>
                <button class="cancel">Finalizar Pedido</button>
            </div>
        </div>
        <div class="right-column">
            <img src="fondo_carrito.jpg" alt="Descripción de la Imagen">
        </div>
    </div>
</body>
</html>
</html>
