<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo_isla-palomino.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Islas Palomino</title>

</head>
<body>
    <header class="head">
        <div class="logo">
            <a href="/principalcliente"><img src="images/logo.jpg" width="400px"></a>
        </div>
        <nav class="navbar">
            <a class="Contac">Contacto</a>
            <a class="num">931 133 900&nbsp;</a>
            <span class="icon">
                <i class="fa-solid fa-phone"></i>
            </span>
            <span class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <span class="icon">
                <i class="fa-solid fa-bell"></i>
            </span>
            <div>
                <a class="usuario">&nbsp;&nbsp;¡Hola! Jean Franco&nbsp;</a>
                </div>
            <div class="user-menu">
                <button class="user">
                    <i class="fa-solid fa-user"></i>
                </button>
                <div class="dropdown-menu">
                    <a href="#">Verificar compras</a>
                    <a href="#">Usuario</a>
                    <a href="/principalUsuarios">Cerrar sesión</a>
                </div>
            </div>
        </nav>
    </header>


    <main>
        <div class="title">
            <h1>Islas Palomino</h1>
        </div>
        <div class="main-content">
            <div class="main-image">
                <img src="images/Islas_Palomino.jpg" alt="islas_palomino">
            </div>
            <div class="main-text">
                <p>Son un conjunto de pequeñas islas, y son conocidas principalmente por la cantidad de lobos marinos que habitan en ellas.  Se dice que hay un aproximado de 8 mil lobos marinos, y al ser unas islas ideales para la reproducción, se puede encontrar en época de apareamiento, las hermosas crías de estos animales.</p>
                <p>Como llegar a las Islas Palomino: Para ir a las Islas Palomino primero debes llegar al Muelle de la Plaza Grau, en el Callao. La embarcación zarpará y en menos de 45 minutos ya llegarás a tu destino.</p>
                <button class="add-to-cart">Add to cart</button>
                <button class="More-info">Más información</button>
            </div>
        </div>

        <div class="nearby-places">
            <h2>Lugares Cercanos</h2>
            <div class="place-cards">
                <div class="place-card">
                    <img src="images/Muelle_del_Callao.jpg" height="250px" width="420px" alt="Casa de la Cultura">
                    <p>Muelle del Callao</p>
                </div>
                <div class="place-card">
                    <img src="images/C_Malecon_Pardo_La_Punta.jpg" height="250px" width="420px" alt="Huaca Huallamarca">
                    <p>Malecón Pardo La Punta</p>
                </div>
                <div class="place-card">
                    <img src="images/C_Fortaleza_Real_San_Felipe.jpg" height="250px" width="420px" alt="Parroquia 'Virgen del Pilar'">
                    <p>Fortaleza Real San Felipe</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <h3>ENCUÉNTRANOS EN:</h3>
                <div class="social-icons">
                    <span class="icon">
                        <i class="fa-brands fa-facebook"></i>
                    </span>
                    <span class="icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </span>
                    <span class="icon">
                        <i class="fa-brands fa-youtube"></i>
                    </span>
                    <span class="icon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                </div>
            </div>
            <div class="company-info">
                <h3>Empresa</h3>
                <p>Quiénes Somos</p>
                <p>Misión</p>
                <p>Visión</p>
            </div>
            <div class="policies">
                <h3>Políticas</h3>
                <p>Privacidad</p>
                <p>Cookies</p>
                <p>Términos de Uso</p>
            </div>
            <div class="help">
                <h3>Ayuda</h3>
                <p>Contacto</p>
                <p>Cancelar la reservación</p>
                <p>Plazos de Reembolso</p>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const userButton = document.querySelector(".user");
            const dropdownMenu = document.querySelector(".dropdown-menu");

            userButton.addEventListener("click", function (event) {
                dropdownMenu.classList.toggle("show");
                event.stopPropagation();
            });

            window.addEventListener("click", function () {
                if (dropdownMenu.classList.contains('show')) {
                    dropdownMenu.classList.remove('show');
                }
            });

            dropdownMenu.addEventListener("click", function (event) {
                event.stopPropagation();
            });
        });
    </script>
</body>
</html>
