<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo_malecon-miraflores.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Malecón de Miraflores</title>

</head>
<body>
    <header class="head">
        <div class="logo">
            <a href="/principalcliente"><img src="images/logo.jpg" width="400px"></a>
        </div>
        <nav class="navbar">
            <a class="Contac">Contacto</a>
            <a class="num">931 133 900&nbsp;</a>
            <span class="icon">
                <i class="fa-solid fa-phone"></i>
            </span>
            <span class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <span class="icon">
                <i class="fa-solid fa-bell"></i>
            </span>
            <div>
                <a class="usuario">&nbsp;&nbsp;¡Hola! Jean Franco&nbsp;</a>
                </div>
            <div class="user-menu">
                <button class="user">
                    <i class="fa-solid fa-user"></i>
                </button>
                <div class="dropdown-menu">
                    <a href="#">Verificar compras</a>
                    <a href="#">Usuario</a>
                    <a href="/principalUsuarios">Cerrar sesión</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="title">
            <h1>Malecón de Miraflores</h1>
        </div>
        <div class="main-content">
            <div class="main-image">
                <img src="images/Malecón de Miraflores.jpeg" alt="Parque el Olivar">
            </div>
            <div class="main-text">
                <p>Estos hermosos malecones con vistas a Costa Verde. Son un perfecto lugar para practicar parapente. Esta conformado por tres malecones: malecón de la Marina, malecón Cisneros y malecón de la Reserva. Aparte de las hermosas vistas y los extravagantes deportes, muy cerca se tiene el centro comercial Larcomar.</p>
                <p>Como llegar a Malecón de Miraflores: Lo más común es usando el Sistema Integrado de Transporte que transita la avenida Larco hasta la parada frente a Larcomar. </p>
                <button class="add-to-cart">Add to cart</button>
                <button class="More-info">Más información</button>
            </div>
        </div>

        <div class="nearby-places">
            <h2>Lugares Cercanos</h2>
            <div class="place-cards">
                <div class="place-card">
                    <img src="images/C_Parque_Chino_de_Miraflores.jpg" height="250px" width="420px" alt="Casa de la Cultura">
                    <p>Parque Chino de Miraflores</p>
                </div>
                <div class="place-card">
                    <img src="images/C_Parque_del_Amor.jpg" height="250px" width="420px" alt="Huaca Huallamarca">
                    <p>Parque del Amor</p>
                </div>
                <div class="place-card">
                    <img src="images/C_Larcomar.jpg" height="250px" width="420px" alt="Parroquia 'Virgen del Pilar'">
                    <p>Larcomar"</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <h3>ENCUÉNTRANOS EN:</h3>
                <div class="social-icons">
                    <span class="icon">
                        <i class="fa-brands fa-facebook"></i>
                    </span>
                    <span class="icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </span>
                    <span class="icon">
                        <i class="fa-brands fa-youtube"></i>
                    </span>
                    <span class="icon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                </div>
            </div>
            <div class="company-info">
                <h3>Empresa</h3>
                <p>Quiénes Somos</p>
                <p>Misión</p>
                <p>Visión</p>
            </div>
            <div class="policies">
                <h3>Políticas</h3>
                <p>Privacidad</p>
                <p>Cookies</p>
                <p>Términos de Uso</p>
            </div>
            <div class="help">
                <h3>Ayuda</h3>
                <p>Contacto</p>
                <p>Cancelar la reservación</p>
                <p>Plazos de Reembolso</p>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const userButton = document.querySelector(".user");
            const dropdownMenu = document.querySelector(".dropdown-menu");

            userButton.addEventListener("click", function (event) {
                dropdownMenu.classList.toggle("show");
                event.stopPropagation();
            });

            window.addEventListener("click", function () {
                if (dropdownMenu.classList.contains('show')) {
                    dropdownMenu.classList.remove('show');
                }
            });

            dropdownMenu.addEventListener("click", function (event) {
                event.stopPropagation();
            });
        });
    </script>
</body>
</html>
