<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="MuseoLarco.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Museo Larco</title>

</head>
<body>
    <header class="head">
        <div class="logo">
            <img src="Imaganes 2parte/logo.jpg" width="400px">
        </div>
        <nav class="navbar">
            <a class="Contac">Contacto</a>
            <a class="num">931 133 900&nbsp;</a>
            <span class="icon">
                <i class="fa-solid fa-phone"></i>
            </span>
            <span class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <span class="icon">
                <i class="fa-solid fa-bell"></i>
            </span>
            <div>
                <a class="usuario">&nbsp;&nbsp;¡Hola! Jean Franco&nbsp;</a>
                </div>
            <div class="user-menu">
                <button class="user">
                    <i class="fa-solid fa-user"></i>
                </button>
                <div class="dropdown-menu">
                    <a href="#">Verificar compras</a>
                    <a href="#">Usuario</a>
                    <a href="#">Cerrar sesión</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="title">
            <h1>Museo Larco</h1>
        </div>
        <div class="main-content">
            <div class="main-image">
                <img src="Imaganes 2parte/The-Larco-Museum-3.png" alt="Museo Larco">
            </div>
            <div class="main-text">
                <p>Perú tiene una rica historia precolombina que es imprescindible conocer al visitar Lima. Uno de los mejores lugares para sumergirse en esta cultura es el Museo Larco. Ubicado en una mansión virreinal y rodeado de hermosos jardines, este museo alberga más de 40,000 piezas de arte que datan de hasta 5,000 años de antigüedad.</p>
                <p>Cómo llegar al Museo Larco: El museo se encuentra en la Avenida Simón Bolívar, entre Navarra y San Carlos. En Denomades ofrecemos el Tour de Museos en Lima, que incluye una visita guiada al Museo Larco.</p>
                <button class="add-to-cart">Add to cart</button>
                <button class="More-info">Más información</button>
            </div>
        </div>

        <div class="nearby-places">
            <h2>Lugares Cercanos</h2>
            <div class="place-cards">
                <div class="place-card">
                    <img src="Imaganes 2parte/tour-los-libertadores2.jpg" height="250px" width="420px" alt="Casa de los Libertadores">
                    <p>Casa de los Libertadores</p>
                </div>
                <div class="place-card">
                    <img src="Imaganes 2parte/96.huaca-julio-c-tello-ortofoto-28-01-2015.jpg" height="250px" width="420px" alt="Huaca Julio C. Tello">
                    <p>Huaca Julio C. Tello</p>
                </div>
                <div class="place-card">
                    <img src="Imaganes 2parte/La-Antigua-Taberna-Queirolo-Local-para-matrimonios.jpg" height="250px" width="420px" alt="Taberna Queirolo">
                    <p>Taberna Queirolo</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <h3>ENCUÉNTRANOS EN:</h3>
                <div class="social-icons">
                    <span class="icon">
                        <i class="fa-brands fa-facebook"></i>
                    </span>
                    <span class="icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </span>
                    <span class="icon">
                        <i class="fa-brands fa-youtube"></i>
                    </span>
                    <span class="icon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                </div>
            </div>
            <div class="company-info">
                <h3>Empresa</h3>
                <p>Quiénes Somos</p>
                <p>Misión</p>
                <p>Visión</p>
            </div>
            <div class="policies">
                <h3>Políticas</h3>
                <p>Privacidad</p>
                <p>Cookies</p>
                <p>Términos de Uso</p>
            </div>
            <div class="help">
                <h3>Ayuda</h3>
                <p>Contacto</p>
                <p>Cancelar la reservación</p>
                <p>Plazos de Reembolso</p>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const userButton = document.querySelector(".user");
            const dropdownMenu = document.querySelector(".dropdown-menu");

            userButton.addEventListener("click", function (event) {
                dropdownMenu.classList.toggle("show");
                event.stopPropagation();
            });

            window.addEventListener("click", function () {
                if (dropdownMenu.classList.contains('show')) {
                    dropdownMenu.classList.remove('show');
                }
            });

            dropdownMenu.addEventListener("click", function (event) {
                event.stopPropagation();
            });
        });
    </script>
</body>
</html>