<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo_parque-olivar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Parque el Olivar</title>

</head>
<body>
    <header class="head">
        <div class="logo">
            <a href="/principalcliente"><img src="Imaganes 2parte/logo.jpg" width="400px"></a>
        </div>
        <nav class="navbar">
            <a class="Contac">Contacto</a>
            <a class="num">931 133 900&nbsp;</a>
            <span class="icon">
                <i class="fa-solid fa-phone"></i>
            </span>
            <span class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <span class="icon">
                <i class="fa-solid fa-bell"></i>
            </span>
            <div>
                <a class="usuario">&nbsp;&nbsp;¡Hola! <span th:text="${nombreUsuario}"></span>&nbsp;</a>
                </div>
            <div class="user-menu">
                <button class="user">
                    <i class="fa-solid fa-user"></i>
                </button>
                <div class="dropdown-menu">
                    <a href="/verCarrito">Verificar compras</a>
                    <a href="#">Usuario</a>
                    <a href="/principalUsuarios">Cerrar sesión</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="title">
            <h1>Parque El Olivar</h1>
        </div>
        <div class="main-content">
            <div class="main-image">
                <img src="Imaganes 2parte/Parque-El-Olivar-de-San-Isidro.jpg" alt="Parque el Olivar">
            </div>
            <div class="main-text">
                <p>El Parque El Olivar de San Isidro alberga una colección de olivos únicos en Perú debido a su longevidad. Actualmente, cuenta con aproximadamente 1,670 olivos y 227 árboles de diversas especies. Además, el parque ofrece centros culturales, museos, bibliotecas, un teatro y una galería de arte.</p>
                <p>Cómo llegar al Parque El Olivar: Desde la Avenida Arequipa, dirigete hacia el este por Paillardell hasta llegar al corazón del parque.</p>
                <button class="add-to-cart"><a th:href="@{'/parque_olivo'(nombreDestino='Parque el Olivar', precio=200)}">Agregar al carrito</a></button>
                <button class="More-info">Más información</button>
            </div>
        </div>

        <div class="nearby-places">
            <h2>Lugares Cercanos</h2>
            <div class="place-cards">
                <div class="place-card">
                    <img src="Imaganes 2parte/casa-cultura-san-isidro.jpg" height="250px" width="420px" alt="Casa de la Cultura">
                    <p>Casa de la Cultura</p>
                </div>
                <div class="place-card">
                    <img src="Imaganes 2parte/huaca-huallamarca.jpg" height="250px" width="420px" alt="Huaca Huallamarca">
                    <p>Huaca Huallamarca</p>
                </div>
                <div class="place-card">
                    <img src="Imaganes 2parte/virgen-pilar5-peru-catolico.png" height="250px" width="420px" alt="Parroquia 'Virgen del Pilar'">
                    <p>Parroquia "Virgen del Pilar"</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <h3>ENCUÉNTRANOS EN:</h3>
                <div class="social-icons">
                    <span class="icon">
                        <i class="fa-brands fa-facebook"></i>
                    </span>
                    <span class="icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </span>
                    <span class="icon">
                        <i class="fa-brands fa-youtube"></i>
                    </span>
                    <span class="icon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                </div>
            </div>
            <div class="company-info">
                <h3>Empresa</h3>
                <p>Quiénes Somos</p>
                <p>Misión</p>
                <p>Visión</p>
            </div>
            <div class="policies">
                <h3>Políticas</h3>
                <p>Privacidad</p>
                <p>Cookies</p>
                <p>Términos de Uso</p>
            </div>
            <div class="help">
                <h3>Ayuda</h3>
                <p>Contacto</p>
                <p>Cancelar la reservación</p>
                <p>Plazos de Reembolso</p>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const userButton = document.querySelector(".user");
            const dropdownMenu = document.querySelector(".dropdown-menu");

            userButton.addEventListener("click", function (event) {
                dropdownMenu.classList.toggle("show");
                event.stopPropagation();
            });

            window.addEventListener("click", function () {
                if (dropdownMenu.classList.contains('show')) {
                    dropdownMenu.classList.remove('show');
                }
            });

            dropdownMenu.addEventListener("click", function (event) {
                event.stopPropagation();
            });
        });
    </script>
</body>
</html>