<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="estilo_principal.css">
    <title>Turismo Express</title>
</head>
<body>
    <div class="head">

        <div class="logo">
            <img src="logo.jpg"  width="400px">
        </div>
        <nav class="navbar">
            <a class="Contac">Contacto</a>
            <a class="num">931 133 900</a> 
            <i class="fa-solid fa-headphones"></i>
            <button class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="bell">
                <i class="fa-solid fa-bell"></i>
            </button>
            <button class="user">
                <a href="/index"><i class="fa-solid fa-user"></i></a>
            </button>
        </nav>
    </div>
    <section class="contenido">
        <h1 class="titulo">Explora Lima: El corazon vibrante de Peru</h1>
        <img src="collage.png" width="1000px" height="600px">
        <div>
            <button class="informacion">Mas informacion</button>
            <h2 class="subtitulo">Lugares turisticos</h2>
        </div>
    </section>  
    <section class="lugares">
        <div class="linea1">
            <div>
            <button class="parque">
                <img src="parque_olivar.jpg" width="400px" height="400px">
            </button>    
            <h2 class="olivar">Parque el olivar</h2>
            <i class="fa-solid fa-dollar-sign">15</i>
            </div>
            <div>
            <img src="museo_larco.jpg" width="400px" height="400px">
            <h2 class="larco">Museo Larco</h2>
            <i class="fa-solid fa-dollar-sign">20</i>
            </div>
        </div>    
        <div class="linea2">
            <div>
            <img src="punta_negra.jpg" width="400px" height="400px">
            <h2 class="punta">Punta Negra</h2>
            <i class="fa-solid fa-dollar-sign">25</i>
            </div>
            <div> 
            <img src="nor_yauyos_cochas.jpeg" width="400px" height="400px">
            <h2 class="nor">Nor Yauyos-Cochas</h2>
            <i class="fa-solid fa-dollar-sign">30</i>
            </div>
        </div>
        <div class="linea3">
            <div>
            <img src="malecon_miraflores.jpg" width="400px" height="400px">
            <h2 class="malecon">Malecon de Miraflores</h2>
            <i class="fa-solid fa-dollar-sign">35</i>
            </div>
            <div>
            <img src="caral.jpg" width="400px" height="400px">
            <h2 class="caral">Caral</h2>
            <i class="fa-solid fa-dollar-sign">40</i>
            </div>
        </div>
        <div class="linea4">
            <div>
            <img src="huaca_pucllana.jpg" width="400px" height="400px">
            <h2 class="huaca">Huaca Pucllana</h2>
            <i class="fa-solid fa-dollar-sign">45</i>
            </div>
            <div>
            <img src="islas_palomino.jpg" width="400px" height="400px">
            <h2 class="isla">Islas Palominos</h2>
            <i class="fa-solid fa-dollar-sign">50</i>
            </div>
        </div>      
    </section>

    <section class="final">
        <div>
        <h2 class="links">Encuentranos en:</h2> 
        <div class="logos">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
    </div> 
        </div>
        <section class="acomodar">
        <div class="SN1">
            <h5>Empresa</h5>
            <div>Quienes Somos</div>
            <div>Vision</div>
            <div>Mision</div>
        </div>
        <div class="SN2">
            <h5>Politicas</h5>
            <div>Privacidad</div>
            <div>Cookies</div>
            <div>Terminos de Uso</div>
        </div>
        <div class="SN3">
            <h5>Ayuda</h5>
            <div>Contacto</div>
            <div>Cancelar Reservacion</div>
            <div>Plazos de reembolso</div>
        </div>
        </section>


    </section>
    
</body>
</html>